{% extends 'base.html.twig' %}

{% block title %}
    <title>Admin: User Registration</title>
{% endblock %}

{% block body %}
    <h2>User Registration</h2>
    {{ form(formRegisterUser) }}
{% endblock %}