{% extends "base.html.twig" %}

{% block title %}
    <title>Error 404: page not found</title>
{% endblock %}

{% block description %}
    <meta name="Description" CONTENT="Dev With It, Error 404, page not found">
{% endblock %}

{% block body %}
    <h1>Error 404</h1>
{% endblock %}