{# 
# Set up date variables.
# Use seconds to compare date.
# This date is +1hour to UK time
# it is like Italy time
#}
{% set getDateToday = "now"|date('U') %}

{% extends "base.html.twig" %}

{% block title %}
    <title>{{ pageTitle }}</title>
{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://devwithit.com/node-tutorial">
{% endblock %}

{% block titleHeader %}
    <h2 class="h2">{{ pageTitle }}</h2>
{% endblock %}

{% block body %}
    <div class="main">
        <div class="main__content">
            <div class="tutorial">
                <div class="tutorial__container-title">
                    <h2 class="h2">Node Tutorial</h2>
                </div>
                <div>
                    {% if (nodeTutorials) %}
                        <ol class="tutorial__index-menu">
                            {% for nodeTutorial in nodeTutorials %}
                                {% if getDateToday > nodeTutorial.created|date('U') %}
                                    <li class="body-2"><a class="link--blue" href="node/{{ nodeTutorial.url }}">{{ nodeTutorial.title}}</a></li>
                                {% endif %}
                            {% endfor %}
                        </ol>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="main__sidebar"></div>
    </div>
{% endblock %}