.article-card {
    width: 80%;
    margin: 2rem auto;
    padding: 1rem;
    transition: transform .5s;
    border-radius: 5px;
    border: 1px solid $blueCode;

    &:hover {
        transform: scale(1.02);
    }

    &__wrapper {
        color: $black;
        text-decoration: none;
    }

    &__container-title {
        margin-bottom: .5rem;
    }

    &__container-data {
        margin-bottom: .5rem;
    }

    &__container-content {
        display: flex;
        justify-content: start;
        align-items: start;

        @include respond(md) {
            flex-direction: column;
        }
    }

    &__container-content-tags {
        width: 20%;
        background-color: $blue;

        @include respond(md) {
            width: 100%;
        }
    }

    &__tags-menu {
        list-style: none;
        text-align: center;
        padding: 1rem 0;
    }

    &__tag {
        color: $white;
        font-weight: 900;
        padding: .5rem;
    }

    &__container-content-summary {
        width: 80%;
        padding: 0 1rem;

        @include respond(md) {
            width: 100%;
        }
    }

    &__summary {
        line-height: 1.6;
    }
}