.codeblock {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto 2rem 0;
    background-color: $blackCode;

    &__container {
        display: flex;
        flex-direction: row;
        overflow-x: auto;
    }

    &__lines {
        display: block;
        white-space: pre-wrap;
        font-size: 1.6rem;
        color: $white;
        padding: 0 1rem;
        border-right: 1px solid $white;
    }

    &__pre {
        display: block;
        color: $white;
        padding: 0 1rem;
    }

    &__code {
        font-size: 1.6rem;
        white-space: pre-wrap;
        word-break: unset;
    }

}