.content {
    padding: 2rem 0;

    &__container-image {
        width: 80%;
        margin: auto;
    }

    &__image {
        width: 100%;
    }

    // Style html content
    h1 {
        font-size: 7rem;
    
        @include respond(sm) {
            font-size: 5rem;
        }
    }
    
    h2 {
        font-size: 5rem;
    
        @include respond(sm) {
            font-size: 4rem;
        }
    }
    
    h3 {
        font-size: 3rem;
    }
    
    h4 {
        font-size: 2.5rem;
    }

    p {
        font-size: 2.2rem;
        line-height: 1.6;
    }

    p a {
        color: $blueLink;

        &:hover {
            text-decoration: underline;
        }
    }

    ul, ol {
        margin-left: 4rem;

        li {
            font-size: 2.2rem;
        }

        a {
            color: $blueLink;
    
            &:hover {
                text-decoration: underline;
            }
        }
    }

    // Code
    &__code-file {
        overflow-wrap: break-word;
    }
    
    pre {
        background-color: $blackCode;
        color: $white;
        font-size: 1.6rem;
        padding: 1rem;
        white-space: pre-wrap;
        overflow-x: auto;
        max-width: 100%;

        @include respond(xl) {
            font-size: 1.4rem;
        }

        @include respond(lg) {
            font-size: 1rem;
        }

        @include respond(md) {
            font-size: .8rem;
        }

        @include respond(sm) {
            font-size: .6rem;
        }

        @include respond(sm) {
            font-size: .4rem;
        }
    }

}