.main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
    "main__content main__sidebar";

    @include respond(lg) {
        grid-template-columns: 1fr;
        grid-template-areas:
        "main__content"
        "main__sidebar";
    }

    &__content {
        grid-area: main__content;
        padding: 5rem 2rem;

        @include respond(lg) {
            padding: 5rem 1rem;
        }

        @include respond(sm) {
            padding: 5rem 0;
        }
    }

    &__sidebar {
        grid-area: main__sidebar;
        padding: 5rem 2rem;
    }
}